# normalize everything to LF in the repo and working tree (Windows + WSL team)
* text=auto eol=lf

*.q     text eol=lf
*.py    text eol=lf
*.java  text eol=lf
*.md    text eol=lf
*.yaml  text eol=lf
*.sh    text eol=lf

*.png   binary
*.pdf   binary
*.pptx  binary
*.docx  binary
